<ul class="my-5 text-center"> 
    <% imovelCompleto.forEach(imovelCompleto => { %> 
        <a href="#" class="modal-link" data-id="<%= imovelCompleto.imovel.id %>">
            <li class="mx-2 mt-3">
            
                <div class="card" style="width: 18rem; height: 13rem;">
                    <div class="card-img-top">
                        <div class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <% for (let i = 0; i < imovelCompleto.imagens.length; i++) { %>
                                    <div class="<%- i == 0 ? 'carousel-item active' : 'carousel-item' %> " style="height: 10rem;">
                                        <img src="uploads/<%- imovelCompleto.imagens[i].imagem %>" class="d-block w-100" alt="Imagem <%= i %>">
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    
                        <div class="card-body">
                        <p class="card-text"><%- imovelCompleto.imovel.descricao %></p>
                        </div>
                </div>
            </li>
        </a>
        
        
            <div class="modal" id="<%- imovelCompleto.imovel.id %>" tabindex="-1">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title"><%- imovelCompleto.imovel.descricao %></h5>
                    <button type="button" class="btn-close" onclick="modalClose()" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <% for (let i = 0; i < imovelCompleto.imagens.length; i++) { %>
                                    <div class="<%- i == 0 ? 'carousel-item active' : 'carousel-item' %> " style="height: 10rem;">
                                        <img src="uploads/<%- imovelCompleto.imagens[i].imagem %>" class="d-block w-100" alt="Imagem <%= i %>">
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    <h3>Descrição: <%- imovelCompleto.imovel.descricao %></h3>
                    <h5>Telefone: <%- imovelCompleto.imovel.telefone %></h4>
                    <h5>Cep: <%- imovelCompleto.endereco.cep %></h4>
                    <h5>Estado: <%- imovelCompleto.endereco.estado %></h4>
                    <h5>Cidade: <%- imovelCompleto.endereco.cidade %></h4>
                    <h5>Bairro: <%- imovelCompleto.endereco.bairro %></h4>
                    <h5>Rua: <%- imovelCompleto.endereco.rua %></h4>
                    <h5>Numero: <%- imovelCompleto.endereco.numero %></h4>
                    <h3>valor: R$<%- imovelCompleto.imovel.valor %></h3>
                    </div>
                    <% if(imovelCompleto.imovel.id_usuario === locals.layoutsVariables.user.id_usuario) { %>
                    <div class="modal-footer">
                        <form action="imovel/editar/<%- imovelCompleto.imovel.id %>" method="get">
                            <input type="submit"class="btn btn-dark" value="Editar">
                        </form>
                        <form action="imovel/deletar/<%- imovelCompleto.imovel.id %>" method="get">
                            <input type="submit"class="btn btn-danger" value="Excluir">
                        </form>
                    </div>
                    <%}%>
                </div>
                </div>
            </div>
        
    <% }); %> 
    
</ul> 
<script>
    document.querySelectorAll('.modal-link').forEach(link => {
        link.addEventListener('click', function() {
            const id = this.getAttribute('data-id');
                modalShow(id);
        });
    });

    function modalShow(id){
        let modal = document.getElementById(id);
        modal.style.display = 'block';
    }

    function modalClose(){
        let modais = document.querySelectorAll('.modal');
        modais.forEach(modal => {
        if (window.getComputedStyle(modal).display == 'block') {
            modal.style.display = 'none';
        }
    });
    }
</script>